<div class="container" id="loginForm">
  <form action="/sessions" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="" name="id" placeholder="School ID">  
    <!-- are you a teacher? -->
    <!-- add more security later -->
    <input type="submit" value="submit">
  </form>
</div>