<form id="loginForm" action="/sessions" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="" name="id" placeholder="School ID">  
  <!-- are you a teacher? -->
  <!-- add more security later -->
  <input id="loginButton" type="submit" value="submit">
</form>