<div class="container"> 
  <h3><%= "#{@question.first} #{operator(@question.category)} #{@question.second}" %> = </h3>

  <form id="answerQuestion" action="/results" method="post">
    <input type='text' name='answer' placeholder="enter the answer here">
    <input type='submit' value="Done">
  </form>

  <a href="/users/<%= currentUser.id %>">Back to menu</a>
</div>