<div id="homePage">
  <div id="navBar" class="container">
    <h1>DESK</h1>
    <!-- add user information or signin link -->
    <a id="signIn" href="/sessions/new">Sign in</a>
    <!-- add new user functionality -->
  </div>

  <div id="menu" class="container"></div>
  <!-- description of the site? -->


	
</div>