<div class="container">
  <div id="navBar">
    <h1>DESK</h1>
    <!-- add user information or signin link -->
    <a href="/sessions/new">Sign in</a>
    <!-- add new user functionality -->
  </div>

  <!-- description of the site? -->


	
</div>